<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Diaspora Yatra Downloads</title>
  <meta name="description" content="Diaspora Yatra downloads section">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style media="screen">
    body{
      text-align:center;
    }
    .item{
      display: inline-block;
      margin:5%;
    }
    .item img{
      width:200px;
      max-height:100px;
    }
  </style>
</head>
<body>
  <h1>Downloads</h1>
  <p>
    Here are some useful images designed by Ark Arjun
  </p>
  <section class="downloads">
    {% for image in images %}<div class="item">
      <h3>{{ image.title }}</h3>
      <p>
        {{ image.desc }}
      </p>
      <div class="preview">
        <a href="/downloads/{{ image.file }}"><img src="/downloads/{% if image.thumb %}{{ image.thumb }}{% else %}low_{{ image.file }}{% endif %}"></a>
      </div>
      <div class="downloadlink">
        <a href="/downloads/{{ image.file }}">Download full size</a>
      </div>
    </div>{% endfor %}
  </section>
</body>
</html>
