.bitcoin {
  font-family: monospace;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@media all and (max-width: 767px){
  #navbar-collapse-1{
    background-color: rgba(0, 0, 0, 0.8);
  }
}

a.btn {
  text-decoration: none;
}

.partners img{
  margin-left: auto;
  margin-right: auto;
}

#contactsection {
  background: url("../images/write.jpg") 50% 0px no-repeat;
}

.social-links i {
  color: white;
}

.swiper-container {
  width: 800px;
  height: 700px;
}

.swiper-slide{
  display: block;
  margin: 0 auto;
}

.swiper-container img {
  display: block;
  margin: 0 auto;
  /* width:528px; 
  height:396px; */
}      

.swiper-slide .caption, .swiper-slide .news {
  text-align:center;
}

.swiper-slide .news {
  padding-top: 10px;
  font-size: large;
}


@media all and (max-width: 800px){
  .swiper-container {
    width: 100%;
    height: 400px;
  }
}

@media all and (max-width: 527px){
  .swiper-container img {
    width: 100%;
  }
}